html {
    font-family: sans-serif;
}

.lineChartContainer {
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.unableToLoadData {
  display: none;
}

.oldData {
  display: none;
}

.newData {
  display: none;
}

.bb-region-2 rect {
  fill:rgb(226, 211, 45); 
}

.bb-region-1 rect {
  fill:rgba(180, 70, 70, 1); 
}

.bb-region-0 rect {
  fill:rgba(74, 180, 70, 1);
}

.bb-tooltip {
  color:black
}